{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if user %}
            <h1>Hello {{ user }}!</h1>
            {% else %}
            <h1>All Contributors!</h1>
            <table class="table table-striped">
            	<th>GitHub Username</th>
            	<th>GitHub Avatar</th>
            	<tr>
            		{% for contrib in contribs %}
            		<tr>
            			<td><a href="/contributors/{{ contrib.key.id() }}">{{ contrib.username }}</a></td>
            			<td>
            				<a href="/contributors/{{ contrib.key.id() }}">
            					<img style="max-width: 80px; max-height: 80px;" src="{{ contrib.avatar_url }}">
            				</a>
            			</td>
            		</tr>
            		{% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
	$(window).load(function(){
		hideLoadingSpinner();
	})
</script>
{% endblock %}