{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if user %}
            <h1>Hello {{ user }}!</h1>
            {%else %}
            <h1>Project!</h1>
            <p>Username: {{ owner.username }}, Name: {{ owner.name }}</p>
            <table class="table table-striped">
            	<th>Project #</th>
            	<th>Owner</th>
            	<th>Project Name</th>
            	<th>Commit Count</th>
            		<tr>
            			<td>{{ project.project_number }}</td>
            			<td><a href="/contributors/{{ owner.key.id() }}">{{ project.owner }}</a></td>
            			<td>{{ project.name }}</td>
            			<td>{{ project.commit_count }}</td>
            		</tr>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    var project_id = {{ project.key.id() }};
    getCommits(projectId).then(function (data) {
        cf.data.add(data.objects);


        // this gets all contributors with number of commits
        console.log(cf.groups.username.top(Infinity));
    });
</script>
{% endblock %}
