{% extends 'base.html' %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm clearfix">
                <h4 class="chart-title">Commits By Project</h4>

                <div id="project-chart"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">

                    <div class="well well-sm clearfix">
                        <h4 class="chart-title">Commits By Contributor</h4>

                        <div id="contributor-chart"></div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="well well-sm clearfix">
                        <h4 class="chart-title">Commits Over Time</h4>

                        <div id="day-chart"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-sm clearfix">
                                <h4 class="chart-title">Commits by Project</h4>

                                <div id="project-number-chart"></div>
                            </div>
                            <div class="well well-sm clearfix">
                                <h4 class="chart-title">File Types
                                    Committed</h4>

                                <div id="files-chart"></div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="well well-sm clearfix">
                                <h4 class="chart-title">Commits by Day of
                                    Week</h4>

                                <div id="day-of-week-chart"></div>
                            </div>
                            <div class="well well-sm clearfix">
                                <h4 class="chart-title">Commits By Hour of
                                    Day</h4>

                                <div id="time-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script type="application/javascript">
        showLoadingSpinner();

        getCommits().then(function (commits) {

            cf.data.add(commits);
            hideLoadingSpinner();

            var dayOfWeekChart = cf.charts.dayOfWeek('#day-of-week-chart');
            dayOfWeekChart.render();

            var dayChart = cf.charts.overTime('#day-chart');
            dayChart.render();

            var contributorChart = cf.charts.contributor('#contributor-chart', 1000);
            contributorChart.render();

            var projectChart = cf.charts.project('#project-chart', 1000);
            projectChart.render();

            var filesChart = cf.charts.files('#files-chart');
            filesChart.render();

            var timeChart = cf.charts.timeOfDay('#time-chart');
            timeChart.render();

            var projectNumberChart = cf.charts.projectNumber('#project-number-chart');
            projectNumberChart.render();

        });
    </script>
    {% endblock %}
