{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if user %}
            <h1>Hello {{ user }}!</h1>
            {%else %}
            <h1>All Projects!</h1>
            <table class="table table-striped">
            	<th>Project #</th>
            	<th>Project Name</th>
            	<th>Commit Count</th>
            	{% for project in projects %}
            		<tr>
            			<td>{{ project.project_number }}</td>
            			<td><a href="projects/{{project.key.id()}}">{{ project.name }}</a></td>
            			<td>{{ project.commit_count }}</td>
            		</tr>
            	{% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}