{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <h1>Project</h1><hr>
           <h2>{{ project.owner }}/{{ project.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="well well-sm clearfix">
                <h4 class="chart-title">Commits by Day of Week</h4>

                <div id="day-of-week-chart"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well well-sm clearfix">
                <h4 class="chart-title">Commits By Contributor</h4>

                <div id="contributor-chart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm clearfix">
                <h4 class="chart-title">Commits Over Time</h4>
                <div id="day-chart"></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="well well-sm clearfix">
                <h4 class="chart-title">File Types Committed</h4>

                <div id="files-chart"></div>


            </div>
            <div class="well well-sm clearfix">
                <h4 class="chart-title">Commits By Time of Day</h4>

                <div id="time-chart"></div>

            </div>
        </div>

        <div class="col-md-9">
            <div class="well well-sm clearfix">
                <table class="table table-striped table-condensed" id="table">
                    <thead>
                    <tr class='header'>
                        <th>Contributor</th>
                        <th>Project</th>
                        <th>Date</th>
                        <th>Changes</th>
                        <th>Additions</th>
                        <th>Deletions</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    var projectId = {{ project.key.id() }};
    showLoadingSpinner();

    getCommits(projectId).then(function (data) {

        cf.data.add(data.objects);
        hideLoadingSpinner();

        var dayOfWeekChart = cf.charts.dayOfWeek('#day-of-week-chart');
        dayOfWeekChart.render();


        var dayChart = cf.charts.overTime('#day-chart');
        dayChart.render();

        var contributorChart = cf.charts.contributor('#contributor-chart');
        contributorChart.render();

         var table = cf.charts.table('#table', cf.dimensions.sha);
        table.render();

        var filesChart = cf.charts.files('#files-chart');
        filesChart.render();

        var timeChart = cf.charts.timeOfDay('#time-chart');
        timeChart.render();

    });
</script>
{% endblock %}
