body {
    padding-top: 50px;
    background-color: #ebf6ff;
}

.chart-title {
    margin: 4px 10px 0 10px;
    text-align: center;
}

.navbar-default {
  background-color: #0a2d8a;
  border-color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #0a2d8a;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}